/* https://stackoverflow.com/a/45271587 */

/* https://www.youtube.com/watch?v=Qhaz36TZG5Y */

/* https://www.youtube.com/watch?v=xIIJfmDnvPE */

/* :root {

} */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.empty {
    visibility: hidden;
}

.blog {
    border: 0.5rem outset rgb(134, 134, 134);
    line-height: 1.5rem;
    display: inline-block;
    width: 250px;
    padding: 10px;
}

.notification {
    border-radius: 20px;
    padding: 20px 0 100px 0;
}

.bloglist {
    width: 400px;
}

.addBlogButton {
    margin-top: 20px;
}

.navigationBar {
    background-color: rgb(158, 158, 158);
    display: inline;
    padding: 10px 10px 10px 10px;
}

.rightAlignButton {
    float: right;
}

.blog-container {
    background-color: hsl(209, 90%, 30%);
    border-radius: 20px;
    padding: 20px;
}

.frontpage-title-text {
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    color: white;
    padding-top: 60px;
}

.center-form {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.input-fields {
    display: flex;
    width: 500px;
    justify-content: center;
    flex-wrap: wrap;
}

.frontpage-buttons {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.button-gap {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.pageTitle {
    padding: 50px 0 50px 0;
}

html * {
    font-family: 'Inconsolata';
}