/* https://stackoverflow.com/a/45271587 */

.empty {
    visibility: hidden;
}

.blog {
    border: 0.5rem outset rgb(134, 134, 134);
    line-height: 1.5rem;
    display: inline-block;
    width: 250px;
    padding: 10px;
}

.bloglist {
    width: 400px;
}

.addBlogButton {
    margin-top: 20px;
}

.navigationBar {
    background-color: rgb(158, 158, 158);
    display: inline;
    padding: 10px 10px 10px 10px;
}

.rightAlignButton {
    float: right;
}

.mainTitle {
    padding: 40px 20px 40px 20px;
    background-color: rgb(27, 26, 26);
    color: white
}

.pageTitle {
    padding: 50px 0 50px 0;
}

html * {
    font-family: Roboto;
}